<div class="jumbotron">
  <h1>Angular CLI v6 + Bootstrap & FontAwesome</h1>
  <p>
    Boilerplate app by bexter, replace this component with a router once installed
  </p>
</div>


<!-- &lt;script src="https://www.gstatic.com/firebasejs/5.2.0/firebase.js"&gt;&lt;/script&gt; &lt;script&gt; // Initialize Firebase
var config = { apiKey: "AIzaSyB4d4f7IKEY1kQlQrLcz1Ulg6uDhdzd5gE", authDomain: "interview-data-service.firebaseapp.com", databaseURL:
"https://interview-data-service.firebaseio.com", projectId: "interview-data-service", storageBucket: "interview-data-service.appspot.com",
messagingSenderId: "1018622700023" }; firebase.initializeApp(config); &lt;/script&gt; -->