<nav class="navbar navbar-bexter mb-5">
  <a class="navbar-brand" href="/">
    <img src="/assets/images/to-logo.svg" width="48" height="48" />
  </a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="home">Home</a>
      <a class="nav-item nav-link" routerLink="assignment">Assignment</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://github.com/bexterbv" target="_blank">
        <i class="fa fa-github"></i>
      </a>
      <a class="nav-item nav-link" href="https://twitter.com/bexter_it" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
    </div>
  </div>
</nav>